-# Section 7.1 after Figure 7.4
-# http://pastebin.com/YGqvV8pg

-# erratum? yes.
-#- unless @movie.errors.empty? 
- unless @movie == nil || @movie.errors.empty? 
  #warning
    Errors prevented this movie from being #{controller.action_name}d:
    %ul
      - @movie.errors.full_messages.each do |error|
        %li= error

-# Section 7.1 Figure 7.1 (top)
-# http://pastebin.com/G1c32mQW

-# in _movie_form.html.haml (the partial)

-# erratum found by me: @movie.title causes TypeError
= label :movie, :title, 'Title'
= text_field :movie, 'title'

-# erratum found by me: @movie.rating causes TypeError
= label :movie, :rating, 'Rating'
= select :movie, :rating, ['G','PG','PG-13','R','NC-17']

-# erratum found by me: @movie.release_date causes NoMethodError
-# note that they removed the :start_year => 1977
= label :movie, :release_date, 'Released On'
= date_select :movie, :release_date
