-# Section 4.4 Figure 4.5
-# http://pastebin.com/Bz9fuk34
-#  This file is app/views/movies/index.html.haml
%h2 All Movies

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)
        %td= link_to "Edit", edit_movie_path(movie)
        %td= button_to "Delete", movie_path(movie), :method => :delete, :confirm => 'Are you sure?'

    -# Section 4.6
    -# http://pastebin.com/6wLiit6M
    = link_to 'Add new movie', new_movie_path
