-# Section 4.4 Figure 4.9
-# http://pastebin.com/hnmsYYB5
-# in app/views/movies/show.html.haml

%h2 Details about #{@movie.title}

%ul#details
  %li
    Rating:
    = @movie.rating
  %li
    Released on:
    = @movie.release_date.strftime("%B %d, %Y")

%h3 Description:

%p#description= @movie.description

-#= link_to 'Back to movie list', movies_path

-# Section 4.8 beginning
-# http://pastebin.com/ZD1y6TYc
= link_to 'Edit info', edit_movie_path(@movie)

-# Section 4.8
-# http://pastebin.com/Cr8EXQaH
-# This Delete link will not really be a link, but a form:
-#= link_to 'Delete', movie_path(@movie), :method => :delete

-# Section 4.8
-# http://pastebin.com/mTXuE5up
= button_to 'Delete', movie_path(@movie), :method => :delete, :confirm => 'Are you sure?'

-# Section 7.6 end
-# http://pastebin.com/RfYpnTKx
= link_to 'Add Review', new_movie_review_path(@movie)

-# Section 4.8 beginning again: http://pastebin.com/ZD1y6TYc
= link_to 'Back to movie list', movies_path


